:root{
    --blue1: #00CEFF;
    --blue2: #68C2FF;
    --blue3: #0168CD;
    --blue4: #421CEF;
    --black1: #2a2630;
    --yellow1: #CAA42D;
    --green1: #24A215;
}

*{
    box-sizing: border-box;
    transition: all 1s;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 40px;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.org_1{
    width: 80%;
    margin: auto;
}

/* SLIDER */
.mySwiper{
    padding-bottom: 30px !important;
}

.swiper-pagination{
    bottom: 0 !important;
}

.swiper {
width: 100%;
height: 60vh;
}

.swiper-slide {
padding: 2px;
text-align: center;
font-size: 18px;
background: #fff;

/* Center slide text vertically */
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
flex-direction: column;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
}

.swiper-slide img {
display: block;
width: 100%;
height: 100%;
object-fit: cover;
transition: 1s;
}

.swiper-slide img:hover{
    transform: scale(1.1);
}

#projetos a{
    height: 80%;
    overflow: hidden;
    box-shadow: 0px 0px 3px 0px black;
}

.desc{
    width: 100%;
    flex-grow: 1;
    background-color: var(--black1);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-button-next:after, .swiper-button-prev:after {
    font-family: swiper-icons;
    font-size: var(--swiper-navigation-size);
    text-transform: none!important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
    background-color: #ffffff29;
    padding: 10px;
    border: 1px solid white;
}

.swiper-button-next:after{
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.swiper-button-prev:after{
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}
/* HEADER */

header{
    position: fixed;
    display: flex;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.344);
    z-index: 9;
    background-color: white;
}

.dvheader{
    display: flex;
    align-items: center;
}

#logo{
    width: 30%;
    padding: 5px;
}

#logo span{
    font-size: 35px;
}

.blue{
    color: var(--blue3);
}

#logo p{
    margin: 10px 0 0 0;
    font-size: 20px;
}

header nav{
    width: 70%;
    display: flex;
    justify-content: space-around;
}

#icon{
    display: none;
}

nav a{
    text-decoration: none;
    color: rgb(24, 22, 22);
    font-size: 18px;
    transition-duration: 0.5s;
}

nav a:hover{
    color: var(--blue3);
}

nav a:hover::after{
    width: 100%;
}

nav a::after{
    content: '';
    display: block;
    height: 5px;
    margin-top: 3px;
    border-radius: 20px;
    width: 0%;
    background-color: var(--blue4);
    transition: ease-in-out 0.5s;
}


/* Barrinha dos itens https://www.youtube.com/watch?v=5jWQVhJxU7c */

#home{
    display: flex;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#background{
    position: absolute;
    width: 100%;
    background-image: url(../imgs/prog2.jpg);
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-attachment: fixed;
    filter: opacity(0.7) blur(1px);
}

.dark1{
    color: var(--black1);
}

#apresentacao{
    height: 370px;
    
    display: flex;
}

#infopessoal{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: right_fadeIn 2s;
}

#infopessoal h1{
    font-size: 30px;
}

#infopessoal span{
    color: var(--blue3);
}

#infopessoal p{
    font-size: 17px;
}

.fa-linkedin{
   color: #0a66c2; 
}

.fa-whatsapp{
    color: var(--green1);
}

#imgdrey{
    animation: left_fadeIn 2s;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imgdrey img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}

#infopessoal ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    width: 80%;
    padding: 0;
    font-size: 18px;
}

#infopessoal ul li{
    margin-right: 30px;
}

#infopessoal a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

/* PROJETOS */

#projetos{
    background-color: white;
}

#div-projects{
    padding: 30px 0px 30px 0px;
    height: 95vh;
}

#div-projects h2{
    margin-bottom: 40px;
    opacity: 0;
}

#div-projects p{
    font-size: 20px;
    margin-bottom: 40px;
    opacity: 0;
}

.list-projects{
    opacity: 0;
}

.filter{
    display: flex;
    padding: 15px 0;
}

.filter span{
    font-size: 22px;
    padding: 0 10px;
}

.filter select{
    cursor: pointer;
}

.text-format01{
    font-size: 30px;
    border-bottom: 2px solid #CD669A;
}

/* HABILIDADES */

#habilidades{
    background-color: #F8F9FA;
    border-top: 1px solid #00000024;
    height: 90vh;
    padding: 30px 0px 30px 0px;
}

#div-habilidades{
    height: 80vh;
}

#div-habilidades h2{
    opacity: 0;
}

.list-habilidades{
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(2, 40%);
    row-gap: 8%;
    height: 85%;
    justify-content: center;
    margin: 50px;
    background-color: rgb(42, 38, 48);
    padding: 15px;
    color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 2px 3px black;
    background-image: linear-gradient( 115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7) ), url('../imgs/habilidades_background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    align-content: center;
    opacity: 0;
}

.list-habilidades p{
    margin: 0;
    margin-top: 10px;
}

.hab{
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px 0 0 0;
}

/*
.b-bottom{
    border-bottom: 1px solid;
}


.b-direita-cima::after{
    content: '';
    position: absolute;
    bottom: 25%;
    left: 71%;
    width: 60%;
    height: 1px;
    background-color: #ffffff;
    transform: rotate(90deg);
}

.b-direita-baixo::after{
    content: '';
    position: absolute;
    top: 28%;
    left: 71%;
    width: 60%;
    height: 1px;
    background-color: #ffffff;
    transform: rotate(90deg);
}
*/
.img-icon{
    width: 75%;
    background-image: linear-gradient(45deg, #68c2ff33, #0168cd45);
    border-radius: 15px;
}

.img-icon img{
    width: 60%;
    padding: 10px;
}

/* CERTIFICAÇÕES */

#certificacoes{
    border-top: 1px solid rgba(0, 0, 0, 0.14);
    padding: 30px 0px 30px 0px;
}

#div-certificacoes > h2{
    opacity: 0;
}

#div-certificacoes ul li{
    margin: 55px 0px;
    opacity: 0;
}

#div-certificacoes ul li::before{
    content: '';
    display: inline-block;
    position: absolute;
    left: -3px;
    border-width: 7px;
    border-style: solid;
    border-color: #8464ff white #8464ff white;
}

#div-certificacoes ul{
    list-style-type: none;
    /*position: relative;*/
}

#div-certificacoes ul::before{
    content: '';
    position: absolute;
    display: inline;
    width: 6px;
    height: 100%;
    background-color: #d9d9d95a;
    left: 1px;
}

.certificado{
    display: flex;
    justify-content: space-between;
}

.certificado a{
    text-decoration: none;
    border: 1px solid;
    color: rgb(30, 29, 29);
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 20px;
    transition: 1s;
}

.certificado a:hover{
    background-color: #1B1B32;
    color: white;
}

.certificado_titulo{
    flex: 0 1 50%;
}

.certificado_titulo h2{
    margin-top: 0;
}

.certificado_depoimento{
    flex: 0 1 45%;
    font-size: 18px;
    line-height: 25px;
}

.certificado_depoimento p{
    margin-top: 0;
}

/* CONTATO */

#contato{
    background-color: #F8F9FA;
    border-top: 1px solid rgba(0, 0, 0, 0.14);
    padding: 30px 0px 30px 0px;
}

#div_contato h2{
    opacity: 0;
}

#container_contato{
    height: auto;
    margin: 40px 0px;
    display: flex;
    flex-direction: column;
}

#google-maps{
    border: 1px solid;
    opacity: 0;
}

#contacts{
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    opacity: 0;
}

:where(#contacts) .whatsapp, .email{
    text-align: center;
    box-shadow: 0px 0px 2px 0px #00000069;
    padding: 10px;
    flex: 0 1 30%;
    background: white;
    word-wrap: break-word;
}

#contacts a{
    display: block;
    text-decoration: none;
    font-size: 20px;
    color: rgb(40, 40, 40);
}

#contacts a:hover{
    color: red;
}

.fa-envelope{
    color: #E8BB30;
}

/*
#div-form h3{
    text-align: center;
    color: #d2caf7;
}

#div-form{
    flex: 0 1 50%;
    padding: 0 4%;
    background-color: var(--black1);
    opacity: 0;
}

form{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

#mensagem{
    margin-top: 12px;
    width: 100%;
    padding: 8px;
}

#name_email{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input_name_email{
    width: 100%;
    padding: 8px;
    flex: 0 1 48%;
}

.focus_anima{
    font-size: 16px;
    color: white;
    background-color: #ffffff17;
    border: none;
    border-bottom: 1px solid transparent;
    transition: 1s;
}

.focus_anima:focus{
    outline: none;
    border-bottom: 1px solid var(--blue2);
}

#bt_form{
    padding: 10px 20px;
    align-self: end;
    margin-top: 25px;
    background-color: transparent;
    border: 1px solid #d2caf780;
    color: #d2caf7;
    cursor: pointer;
    font-size: 16px;
    transition: .6s;
}

#bt_form:hover{
    background-color: #d2caf7;
    color: var(--black1);
}
*/
footer {
    background-color: #404040;
    color: white;
    padding: 15px;
    text-align: center;
}


/* MEDIA QUERY */
  
/* Media Query for Tablets Ipads portrait mode */
@media screen and (max-width: 1024px){
    #logo span{
        font-size: 30px;
    }

    header nav {
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #eaf3ff;
        flex-direction: column;
        align-items: center;
        padding: 15px;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        border-bottom: 10px solid #00000021;
    }

    .showmenu{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    i{
        display: inline-block;
        font-size: 25px;
        cursor: pointer;
    }

    #icon{
        display: inline-block;
        font-size: 25px;
        cursor: pointer;
    }

    .fa-times{
        transform: rotate(180deg);
        transition: .5s;
    }

    
    nav a {
        text-decoration: none;
        font-size: 18px;
        transition-duration: 0.5s;
        padding: 8px;
        background-color: #292929e0;
        color: white;
        width: 80%;
        margin: 4px;
        border-radius: 8px;
        text-align: center;
    }

    nav a::after {
        display: none;
    }

    #logo{
        width: 90%;
    }

    /* HOME */

    #apresentacao {
        flex-direction: column;
        height: 65%;
        align-items: center;
        text-align: center;
        justify-content: space-evenly;
    }

    #infopessoal ul {
        justify-content: space-between;
        width: 100%;
    }

    #infopessoal ul li {
        margin-right: 0;
    }

    #imgdrey img{
        width: 200px;
        height: 200px;
    }

    /* PROJETOS */

    .swiper-pagination{
        display: none !important;
    }

    /* HABILIDADES */

    .list-habilidades{
        row-gap: 0;
        grid-template-columns: repeat(2, 40%);
        grid-template-rows: repeat(2, 35%);
    }

    .list-habilidades p {
        margin-top: 0;
    }
}

@media(max-width: 700px) {
    .list-habilidades {
        margin: 10% 0;
        row-gap: 5%;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, 30%);
    }

    /* CONTATO */
    #contacts{
        flex-direction: column;
    }

    :where(#contacts) .whatsapp, .email {
        margin: 10px 0;
    }
}


/* Media Query for Mobile Devices */
@media screen and (max-width: 480px){
    #logo span{
        font-size: 25px;
    }

    /* HOME */

    #infopessoal {
        width: 100%;
    }

    #imgdrey {
        width: auto;
    }

    #imgdrey img {
        width: 150px;
        height: 150px;
    }

    /* HABILIDADES */

    .img-icon img {
        width: 80%;
    }

    /* CERTIFICAÇÕES */

    .certificado {
        flex-direction: column;
    }

    .certificado a {
        font-size: 15px;
    }

    .certificado_titulo p{
        font-size: 14px;
    }

    /* CONTATO */

    #container_contato {
        height: auto;
        flex-direction: column;
    }

    #div-form{
        margin-bottom: 20px;
        flex: 0 1 50%;
    }

    form{
        margin-bottom: 20px;
    }

    #google-maps{
        flex: 0 1 50%;
    }
}


/* Animações */


.right_animation{
    animation: right_fadeIn 1.2s;
    opacity: 1 !important;
}

.left_animation{
    animation: left_fadeIn 2s;
    opacity: 1 !important;
}

.fadeIn{
    animation: fadeIn 3s;
    opacity: 1 !important;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100%{opacity: 1;}
}

@keyframes right_fadeIn{
    0% {transform: translateX(-50%); opacity: 0;}
    100%{transform: translateX(0); opacity: 1;}
}

@keyframes left_fadeIn{
    0% {transform: translateX(50%); opacity: 0;}
    100%{transform: translateX(0); opacity: 1;}
}