:root{
    --blue1: #00CEFF;
    --blue2: #68C2FF;
    --blue3: #0168CD;
    --blue4: #421CEF;
    --black1: #2a2630;
    --yellow1: #CAA42D;
    --green1: #24A215;
}

*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
}

.org_1{
    width: 80%;
    margin: auto;
}

header{
    position: fixed;
    display: flex;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.344);
    z-index: 9;
    background-color: white;
}

.dvheader{
    display: flex;
    align-items: center;
}

#logo{
    width: 30%;
    padding: 5px;
}

#logo span{
    font-size: 35px;
}

.blue{
    color: var(--blue3);
}

#logo p{
    margin: 10px 0 0 0;
    font-size: 20px;
}

header nav{
    width: 70%;
    margin-top: 15px;
}

nav ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

nav a{
    text-decoration: none;
    color: rgb(24, 22, 22);
    font-size: 18px;
    transition-duration: 0.5s;
}

nav a:hover{
    color: var(--blue3);
}

nav li:hover::after{
    width: 100%;
}

nav ul li::after{
    content: '';
    display: block;
    height: 5px;
    margin-top: 3px;
    width: 0%;
    background-color: var(--blue4);
    transition: ease-in-out 0.5s;
}


/* Barrinha dos itens https://www.youtube.com/watch?v=5jWQVhJxU7c */

#home{
    display: flex;
    align-items: center;
    height: 100vh;
}

#background{
    position: absolute;
    width: 100%;
    background-image: url(../imgs/background2.jpg);
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-attachment: fixed;
    filter: opacity(0.7) blur(1px);
}

.dark1{
    color: var(--black1);
}

#apresentacao{
    height: 370px;
    
    display: flex;
}

#infopessoal{
    
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#infopessoal h1{
    font-size: 30px;
}

#infopessoal span{
    color: var(--blue3);
}

#infopessoal p{
    font-size: 17px;
}

.fa-envelope{
   color: var(--yellow1); 
}

.fa-whatsapp{
    color: var(--green1);
}

#imgdrey{
    
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imgdrey img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}

#infopessoal ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    width: 80%;
    padding: 0;
    font-size: 18px;
}

#infopessoal ul li{
    margin-right: 30px;
}

#infopessoal a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

#div-projects{
    padding: 30px 0px 30px 0px;
}

#div-projects h2{
    margin-bottom: 40px;
}

#div-projects p{
    font-size: 20px;
    margin-bottom: 40px;
}

#div-projects span{
    font-size: 30px;
    border-bottom: 2px solid #CD669A;
}

.list-projects{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    row-gap: 40px;
}

.list-projects div{
    cursor: pointer;
    border-radius: 18px;
    box-shadow: 0px 0px 3px 0px black;
    height: 230px;
}

.list-projects img{
    width: 100%;
    height: 100%;
    border-radius: 18px;
    outline: 2px solid rgba(255, 255, 255, 0.77);
    outline-offset: -10px;
    outline-style: groove;
    transition: all 0.6s;
}

.list-projects img:hover{
    transform: scale(1.1);
    outline-offset: 2px;
}